<div id="section1_e_small">
  <div class="image_card_e_small">

    <h3> {{ section.settings.text-box }} </h3>

{% for block in section.blocks %}

<div class="gallery_e_small">
  <a href="{{ block.settings.link }}">
    <img class="image_e_small" src="{{ block.settings.image | img_url: 'x800' }}">

    <p class="text_e_small">
            Hello World!
       </p>
  </a>
</div>

{% endfor %}

  </div>

</div>

<div class="padding_e_small">
  <h3>h</h3>
</div>

{% schema %}
{
      "name": "Image Small",
      "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }
    ],
      "blocks": [
      {
        "type": "image_picker",
        "name": "Add Image",
        "settings": [
          {
            "id": "link",
            "type": "url",
            "label": "Button link"
            },
            {
              "id": "image",
              "type": "image_picker",
              "label": "Image Upload"
            }
          ]
        }
      ],
      "presets": [
      {
        "name": "Image Small",
        "category": "Call to Action",
        "blocks": [
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
    }
  ]
}
]
}
{% endschema %}

<!-- Add in blocks to schema
Add for loop around images -->
